    .__tooltip__::before{
        position: absolute;
        z-index: 99;
        display: none;
        width: auto;
        padding: 10px;
        font-size: 14.67px;
        line-height: 1.4em;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        content: attr(tooltipText);
    }

    .__tooltip__::after{
        position: absolute;
        z-index: 1;
        display: none;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        content: "";
    }

    .__tooltip__.__top__::before{
        bottom: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
    }

    .__tooltip__.__top__::after{
        bottom: 100%;
        left: 50%;
        border-top-color: rgba(0, 0, 0, 0.8);
        border-bottom-width: 0;
    }

    .__tooltip__.__left__::before{
        right: calc(100% + 5px);
        top: 50%;
        transform: translateY(-50%);
    }

    .__tooltip__.__left__::after{
        right: 100%;
        top: 50%;
        transform: translateY(-50%);
        border-left-color: rgba(0, 0, 0, 0.8);
        border-right-width: 0;
    }

    .__tooltip__.__right__::before{
        left: calc(100% + 5px);
        top: 50%;
        transform: translateY(-50%);
    }

    .__tooltip__.__right__::after{
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        border-right-color: rgba(0, 0, 0, 0.8);
        border-left-width: 0;
    }

    .__tooltip__.__bottom__::before{
        top: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
    }

    .__tooltip__.__bottom__::after{
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom-color: rgba(0, 0, 0, 0.8);
        border-top-width: 0;
    }

/*    .__tooltip__:focus-within::before,
    .__tooltip__:focus-within::after{
        display: inline-block;
    }*/

    .__tooltip__:hover::before,
    .__tooltip__:hover::after{
        display: inline-block;
    }

/*.__top__ {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

.__left__ {
    position: absolute;
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.__right__ {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.__bottom__ {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
}*/
